<%- include("header") -%>

<h1>This is my ToDo List about</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nihil libero deserunt dolor voluptates architecto quod maiores omnis facere ad iusto quae laborum vitae corrupti rerum, repudiandae labore nobis! Minus?</p>

<%- include("footer") -%>